<div class="container mt-5">
  <h2>Listado de Usuarios</h2>
  <button class="btn btn-success mb-3" (click)="navigateToAddUser()">Agregar Usuario</button>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Fecha de Alta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.createdAt }}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="navigateToEditUser(user.email)">Editar</button>
          <button class="btn btn-danger" (click)="deleteUser(user.email)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
